flask
flask-sqlalchemy
python-dotenv
Flask-Migrate
Flask-login
Flask-WTF
flask-jwt-extended
Flask-Restful
requests
celery
redis
email-validator
flask-cors
numpy
psycopg2-binary
gunicorn[gevent]
gevent
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-storage
pillow